<div class="row">
  <div class="small-12 columns">
    <hr>
    <div><b>Params</b></div>
    <%= debug params %>
    <hr>
    <div><b>Devise Notifications</b></div>
    <%= debug notice %>
    <%= debug alert %>
    <div><b>Flash</b></div>
    <%= debug flash %>
  </div>
</div>
