<footer class="max-width df-design-footer">
  <div class="row">
    <div class="small-12 columns">
      <hr>
    </div>
    <div class="small-12 medium-4 columns">
      <p class="df-footer-copyright"><%= Time.now.year %> - Todos os Direitos Reservados</p>
      <nav class="df-footer-navigation invisible">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Como Funciona</a></li>
          <li><a href="">Planos</a></li>
          <li><a href="">Blog</a></li>
        </ul>
      </nav>
    </div>
    <div class="small-12 medium-8 columns">
      <span class="df-design-footer-logo right"><span>Design</span><strong>Feedback</strong></span>
    </div>
  </div>
</footer>
